<!-- Sidebar (Stays Fixed) -->
<div *ngIf="!isPublicPage() && !isAdminDashboard()" id="sidebar" class="sidebar">
  <!-- Close Button -->
  <span class="close-btn" (click)="closeSidebar()">✖</span>

  <ul>
    <li><i class="material-icons">dashboard</i><a href="/user-dashboard">Dashboard</a></li>
    <li><i class="material-icons">restaurant</i><a href="#">Meal Plans</a></li>
    <li><i class="material-icons">history</i><a href="#">QR History</a></li>
  </ul>
</div>


<div *ngIf="!isPublicPage() && isAdminDashboard()" id="sidebar" class="sidebar">
  <!-- Close Button -->
  <span class="close-btn" (click)="closeSidebar()">✖</span>

  <ul>
    <li><i class="material-icons">dashboard</i><a href="/user-dashboard">Dashboard</a></li>
    <li><i class="material-icons">restaurant</i><a href="#">Meal Requests</a></li>
    <li><i class="material-icons">history</i><a href="#">Settings</a></li>
  </ul>
</div>

<!-- Overlay -->
<div *ngIf="!isPublicPage()" id="overlay" class="overlay" (click)="closeSidebar()"></div>

<!-- 🟢 Wrapper to Shift Header + Dashboard -->
<div class="main-wrapper" [class.shifted]="sidebarOpen">
  <div *ngIf="!isPublicPage()" >
    <!-- 🔵 HEADER (Moves with Dashboard) -->
    <header class="header">
      <button id="toggleSidebar" class="menu-btn" (click)="toggleSidebar()">☰</button>
      <div class="header-text">
        <p>QRMealApp</p>
      </div>
    </header>
  </div>

  <!-- 🔴 MAIN DASHBOARD (Moves with Sidebar) -->
  <router-outlet></router-outlet>
</div>



